@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Share+Tech&display=swap');
@import "tailwindcss";

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    color: white;
}

/* GRID AREAS */
.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 5 / 2 / 6;
    display: none;
}

.div3 {
    grid-area: 2 / 1 / 6 / 2;
}

.div4 {
    grid-area: 2 / 2 / 5 / 5;
}

.div5 {
    grid-area: 5 / 5 / 6 / 6;
}

.pNav {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    text-orientation: mixed;
   
}

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.manrope-regular {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: bolder;
    font-style:italic;
    
}

/* Mobile-first styles (for small screens) */

/* Estilo para enlaces en pantallas pequeñas */
.pNav {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    /* Sin rotación */
    text-orientation: mixed;
  
}



/* Menú en pantallas móviles */
.navbar-nav {
    flex-direction: column;
    /* El menú es vertical en móviles */
    text-align: center;
    display: none;
    /* Por defecto, el menú está oculto */
}

.navbar-toggler {
    display: block;
 
    /* Botón hamburguesa visible en móviles */
}

/* Cuando se active el menú */
.navbar-collapse.show {
    display: block;
    /* Mostrar el menú cuando se haga clic en el hamburguesa */
}

/* Estilos para pantallas más grandes (tabletas y mayores) */
@media (min-width: 768px) {

    .div2 {
        display: block;
    }
    /* Menú en pantallas grandes */
    .navbar-nav {
        flex-direction: row;
        /* El menú se organiza en fila en pantallas grandes */
        text-align: center;
    }

    /* El botón hamburguesa se oculta en pantallas grandes */
    .navbar-toggler {
        display: none;
    }

    /* Mostrar el menú en pantallas grandes */
    .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
        /* Alinear el menú a la derecha */
    }

    /* Estilo de los enlaces */
    .pNav {
        writing-mode: vertical-lr;
        /* Cambiar a vertical en pantallas grandes */
        transform: rotate(-180deg);
        /* Rotación del texto */
       
    }

    
}